DATABASE_URL=postgresql://ramiarz_db:HASLO@pgsql1.mydevil.net/ramiarz_db
FIREBASE_PROJECT_ID=masarski-pro-v2
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase_service_account.json
CORS_ORIGINS=http://localhost:5173,https://ramiarz.ebra.pl
